{# templates/login/index.html.twig #}
{% extends '@Admin/adminbase.html.twig' %}
{% block page_title %}
    <div class="text-center"><h1>Edit booking</h1></div>
{% endblock %}
{% block content %}
    <div class="container">

        {{ form(form) }}


    </div>
{% endblock %}