<div class="parallax_section_1 jarallax" data-jarallax="" data-speed="0.2">

    <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title white">
                        <small class="mb-1">Testimonials</small>
                        <h2>What Clients Says</h2>
                    </div>
                    <div class="carousel_testimonials owl-carousel owl-theme nav-dots-orizontal owl-loaded owl-drag">



                        <div class="owl-stage-outer owl-height" style="height: 196.391px;"><div class="owl-stage" style="transform: translate3d(-1672px, 0px, 0px); transition: all 0s ease 0s; width: 5912px; padding-left: 30px; padding-right: 30px;"><div class="owl-item cloned" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>2 Nov</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item cloned" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>3 Dec</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item active" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>12 Oct</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>2 Nov</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>3 Dec</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item cloned" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>12 Oct</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div><div class="owl-item cloned" style="width: 796px; margin-right: 40px;"><div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure><img src="img/testimonial_1.jpg" alt="" class="img-circle">
                                                </figure>
                                                <h4>Roberta<small>2 Nov</small></h4>
                                            </div>
                                            <div class="comment">
                                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
                                            </div>
                                        </div>
                                        <!-- End box_overlay -->
                                    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                    <!-- End carousel_testimonials -->
                </div>
            </div>
        </div>
    </div>
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img class="jarallax-img kenburns-2" src="img/hero_home_1.jpg" alt="" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1440px; height: 259.438px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; margin-top: 8.28125px;"></div>
</div>